.login_container{
    
    text-align: center;
    vertical-align: middle;

}

.quadro_login{
    width: 40%;
    height: auto;
    border: 1px solid #0d2464;
    padding: 2em;
    border-radius: 10px;
    top: 20%;
    left: 30%;

}